{% load static %}
<html>
    <head>
        <title>Кальянная</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script type="text/javascript" src="{% static 'api_script.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <table class="table_css">
                <tr class="tr_css">
                    <td class="name"><strong><a href="{% url 'home' %}">Hookah club</a></strong></td>
                    <td class="logout"><a href="{% url 'logout' %}">Выйти</td>
                </tr>
            </table>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
    
