.header {
    position: relative;
    height: 10%;
    background: #C0DFFE; border: 2px solid #7B5427;
}

.logout {
    vertical-align: middle;
    width: 10%;
}

.profile {
    vertical-align: middle;
    width: 10%;
}

.name {
    vertical-align: middle;
}
            
.table_css {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tr_css {
    position: absolute;
    border: 1px solid blue;
    height: 100%;
}

.main {
    position: absolute;
    top: 15%;
}

.table_index {
    border-collapse: collapse;
    border: 1px solid black;
}

.tdr_index {
    vertical-align: top;
    border: 1px solid black;
}

.td_parent {
    vertical-align: top;
}

#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}