{% extends 'page.html' %}
{% block content %}
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script>
        var flast = 1;
        var food_costs = [{% for f in food %} {{ f.cost }}, {% endfor %}];
        var food_ids = [{% for f in food %} {{ f.id }}, {% endfor %}];

        var tlast = 1;
        var tobacco_costs = [{% for f in tobaccos %} {{ f.cost }}, {% endfor %}];
        var tobacco_ids = [{% for f in tobaccos %} {{ f.id }}, {% endfor %}];

        var new_flast = 1;
        var new_tlast = 1;

        $(document).ready(function() {
            $("#add").click(function() {
                $("#food tr:last-child").before($("<tr class='tdr_index'><td class='tdr_index'><select id=\"select_food" + flast +
                    "\" name=\"food" + flast + "\">{% for f in food %}<option value={{ f.id }}> {{ f }} </option>{% endfor %} </select></td><td class='tdr_index'><input id=\"count_food" +
                    flast + "\" name=\"count_food" + flast + "\" class='s' type='number' min='0' value='0'/></td></tr>"));
                $("#flast")[0].innerText = flast
                document.getElementById("food_count").value = flast
                flast++;
            });
            $(".s").change(function() {
                alert( "Handler for .change() called." );
            });
        });

        $(document).ready(function() {
            $("#new").click(function() {
                $("#new_food tr:last-child").before($("<tr class='tdr_index'><td class='tdr_index'><input name=\"newf" + new_flast +
                    "\"></td><td class='tdr_index'><input id=\"newf_count" + new_flast + "\" name=\"newf_count" + new_flast +
                    "\" class='s' type='number' min='0' value='0'></td><td class='tdr_index'><input name = \"newf_cost" + new_flast + "\"></input></td></tr>"));
                $("#newf_number")[0].innerText = new_flast
                document.getElementById("newf_number").value = new_flast
                new_flast++;
            });
            $(".s").change(function() {
                alert( "Handler for .change() called." );
            });
        });

        $(document).ready(function() {
            $("#add1").click(function() {
                $("#hookah tr:last-child").before($("<tr class='tdr_index'><td class='tdr_index'><select id=\"select_tobacco" + tlast +
                    "\" name=\"tobacco" + tlast + "\" onchange=\"hookah_cost(" + tlast +
                    ")\">{% for f in tobaccos %}<option value={{ f.id }}> {{ f }} </option>{% endfor %}</select></td><td class='tdr_index'><input id=\"count_tobacco" +
                    tlast + "\" name=\"count_tobacco" + tlast + "\" class='s' type='number' min='0' value='0'/></td></tr>"));
                document.getElementById("hookah_count").value = tlast
                $("#tlast")[0].innerText = tlast
                tlast++;
            });
            $(".s").change(function() {
                alert( "Handler for .change() called." );
            });
        });

        $(document).ready(function() {
            $("#new1").click(function() {
                $("#new_hookah tr:last-child").before($("<tr class='tdr_index'><td class='tdr_index'><input name=\"newt" + new_tlast +
                    "\"></td><td class='tdr_index'><input id=\"newt_count" + new_tlast + "\" name=\"newt_count" + new_tlast +
                    "\" class='s' type='number' min='0' value='0'></td><td class='tdr_index'><input name = \"newt_cost" + new_tlast + "\"></input></td></tr>"));
                $("#newt_number")[0].innerText = new_tlast
                document.getElementById("newt_number").value = new_tlast
                new_tlast++;
            });
            $(".s").change(function() {
                alert( "Handler for .change() called." );
            });
        });
    </script>

	<h1> Завоз товаров </h1>
    <form method="post"> {% csrf_token %}
    	<h2> Табаки </h2>
        <h3> Пополнение находящихся в наличии товаров</h3>
        <table id="hookah" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                    <b> Табаки </b>
                </td>

                <td class="tdr_index">
                	<b> Количество табака(г) </b>
                </td>
            </tr>
            <tr class="tdr_index">
                <td colspan="2" class="tdr_index">
                    <button type="button" id="add1">Зарегистрировать привоз наличествующего табака</button>
                </td>
            </tr>
        </table>
        <h3> Добавление новых товаров</h3>
        <table id="new_hookah" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                    <b> Табаки </b>
                </td>
                <td class="tdr_index">
                	<b> Количество табака(г) </b>
                </td>
                <td class="tdr_index">
                	<b> Стоимость </b>
                </td>
            </tr>
            <tr class="tdr_index">
                <td colspan="3" class="tdr_index">
                    <button type="button" id="new1">Добавить новый табак </button>
                </td>
            </tr>
        </table>
    	<h2> Еда </h2>
        <h3> Пополнение находящихся в наличии товаров</h3>
        <table id="food" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                	<b> Название товара </b>
                </td>
                <td class="tdr_index">
                	<b> Количество товара </b>
                </td>
            </tr>
			<tr class="tdr_index">
				<td colspan="2" class="tdr_index">
					<button type="button" id="add">Зарегистрировать пополнение еды и напитков</button>
				</td>
			</tr>
        </table>
        <h3> Добавление новых товаров</h3>
        <table id="new_food" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                	<b> Название товара </b>
                </td>
                <td class="tdr_index">
                	<b> Количество товара </b>
                </td>
                <td class="tdr_index">
                	<b> Стоимость </b>
                </td>
            </tr>
			<tr class="tdr_index">
				<td colspan="3" class="tdr_index">
					<button type="button" id="new">Добавить новый товар</button>
				</td>
			</tr>
        </table>
        <input type="hidden" id="hookah_count" name="hookah_count" value="0"/>
        <input type="hidden" id="food_count" name="food_count" value="0"/>
        <input type="hidden" id="newt_number" name="newt_number" value="0"/>
        <input type="hidden" id="newf_number" name="newf_number" value="0"/>
		<p><input type="submit" value="Оформить завоз товаров"></p>
    </form>
{% endblock %}