{% extends 'page.html' %}
{% block content %}
		<h1> Пищевой склад </h1>
        <input type="text" id="myInput" onkeyup="myFunction('food_table')" placeholder="Поиск по названию..">
        <table id="food_table" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                	<b> Название товара </b>
                </td>
                <td class="tdr_index">
                	<b> Количество товара </b>
                </td>
                <td class="tdr_index">
                    <b> Стоимость за штуку </b>
                </td>
            </tr>
			{% for f in food %}
			<tr class="tdr_index">
				<td class="tdr_index"><a href="{% url 'history' 1 f.id %}">  {{ f.name }} </a></td>
				<td class="tdr_index"> {{ f.count }} шт. </td>
                <td class="tdr_index"> {{ f.cost }} руб. </td>
			</tr>
			{% endfor %}
		<table>
{% endblock %}