{% extends 'page.html' %}
{% load static %}

{% block content %}
		<h1> Табачный склад </h1>
        <input type="text" id="myInput" onkeyup="myFunction('tobacco_table')" placeholder="Поиск по названию..">
        <table id="tobacco_table" class="table_index">
            <tr class="tdr_index">
                <td class="tdr_index">
                	<b> Название </b>
                </td>
                <td class="tdr_index">
                	<b> Вес(г) </b>
                </td>
                <td class="tdr_index">
                	<b> Стоимость (за забивку в 25 г) </b>
                </td>
            </tr>
			{% for tobacco in tobaccos %}
			<tr class="tdr_index">
				<td class="tdr_index"> {{ tobacco.name }} </td>
				<td class="tdr_index"> {{ tobacco.weight }} грамм </td>
				<td class="tdr_index"> {{ tobacco.cost }} </td>
			</tr>
			{% endfor %}
		<table>
{% endblock %}